#info {
  padding-left: 310px;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

#reviews {
  /* width: fit-content; */
  height: fit-content;
  padding-top: 50px;
  padding-left: 300px;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

.image {
  width: 1000px;
  max-width: 100%;
  overflow-x: hidden;

}

#affordability {
  display: flex;
  position: relative;
  padding-top: 550px;
  padding-left: 300px;
  max-width: 100%;
}

.agent {
  padding-top: 160px;
  width: 1000px;
  max-width: 100%;
  overflow-x: hidden;
}


body {
  max-width: 100%;
  overflow-x: hidden;
}

#similarHomes {
  height: 300px;
}